.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "ui-regular";

  .box {
    width: 400px;
    height: 400px;

    &__header {
      text-align: center;
      font-size: 12px;
    }

    &__form__links {
      display: flex;
      justify-content: space-between;
    }
  }
}